<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="OuterEdge_Layout::layout" title="Layout" sortOrder="10" >
                        <resource id="OuterEdge_Layout::group" title="Group" sortOrder="40" >
                            <resource id="OuterEdge_Layout::group_save" title="Save Group" sortOrder="10" />
                            <resource id="OuterEdge_Layout::group_delete" title="Delete Group" sortOrder="20" />
                        </resource>
                        <resource id="OuterEdge_Layout::element" title="Element" sortOrder="40" >
                            <resource id="OuterEdge_Layout::element_save" title="Save Element" sortOrder="10" />
                            <resource id="OuterEdge_Layout::element_delete" title="Delete Element" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>