<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OuterEdge_Layout::group" title="Group &#38; Element" module="OuterEdge_Layout" sortOrder="50" parent="Magento_Backend::content_element" action="layout/group" resource="OuterEdge_Layout::group"/>
    </menu>
</config>