<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Layout>
            <version>1.0.0</version>
        </Edge_Layout>
    </modules>
    <global>
        <blocks>
            <layout_groups>
                <class>Edge_Layout_Block</class>
            </layout_groups>
        </blocks>
        <models>
            <layout>
                <class>Edge_Layout_Model</class>
                <resourceModel>layout_resource</resourceModel>
            </layout>
            <layout_resource>
                <class>Edge_Layout_Model_Resource</class>
                <entities>
                    <layout_elements>
                        <table>layout_elements</table>
                    </layout_elements>
                    <layout_groups>
                        <table>layout_groups</table>
                    </layout_groups>
                </entities>
            </layout_resource>
        </models>
        <helpers>
            <layout>
                <class>Edge_Layout_Helper</class>
            </layout>
        </helpers>
        <resources>
            <layout_setup>
                <setup>
                    <module>Edge_Layout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </layout_setup>
        </resources>
    </global>
    <default>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <layout_image_folder>layout</layout_image_folder>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <layout before="Mage_Adminhtml">Edge_Layout_Adminhtml</layout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <layout>
                    <file>edge/layout.xml</file>
                </layout>
            </updates>
        </layout>
    </adminhtml>
</config>